@font-face {
  font-weight: 900; /* Соответствует значению normal */
  font-family: Intro;
  src: url("Intros.woff2");
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Intro', sans-serif;
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #ffde59, #ff914d) no-repeat;
    background-attachment: fixed;

    border: 3px solid #d67d45;
}

a {
    margin-top: 30px;
    font-size: 20px;
}