<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Погода по маршруту</title>
</head>
<body>
    <div class="container">
        <h1>Погода</h1>
        <form method="POST">
            <div class="form-block">
                <label for="start_city">Начальная точка:</label>
                <input type="text" id="start_city" name="start_city" required>
            </div>

            <div class="form-block end_block">
                <label for="end_city">Конечная точка:</label>
                <input type="text" id="end_city" name="end_city" required>
            </div>
            <br>
            <button type="button" id="create_point">Добавить город</button>

            <label>Выберите количество дней прогноза:</label>
            <div class="radio-menu">
                <div class="radio-menu__item">
                    <input type="radio" id="one_day" value='1' name="forecast_days" checked>
                    <label for="one_day">1 День</label>
                </div>
                <div class="radio-menu__item">
                    <input type="radio" id="5_days" value='5' name="forecast_days">
                    <label for="5_days">5 дней</label>
                </div>
            </div>
            <button type="submit">Получить погоду</button>
        </form>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
